jupyter
numpy
tqdm
plotly
openmc_plasma_source
openmc_source_plotter
paramak
cadquery
numpy==2.1.3
cython<3.0
setuptools
cad_to_dagmc
openmc_regular_mesh_plotter
vtk
CAD_to_OpenMC
dagmc-h5m-file-inspector
netCDF4
gmsh
meshio
h5py